.header-container {
  color: white;
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 18px; */
  padding: 0 30px;
  margin-bottom: 2rem;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
}
.header-left img {
  width: 100px;
}

.header-left nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-container {
    height: 8vh;
  }
  .header-left img {
    width: 80px;
  }
  .header-left nav ul {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

}
